 @media only screen and (max-width:1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}


@media only screen and (max-width:1023px) {
     body {
        font-size:18px;
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }
    .city-feature { font-size: 90%; }
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%;
    }
     
}


@media only screen and (max-width:767px) {
    body { font-size: 16px;}
    section {padding: 30px 0;}

    .row,
    .hero-text-box {
        padding: 0 4%; 
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

     .main-nav {
        display: none;
    } 

    h1 { font-size: 180%; }
    h2 {font-size: 150%; }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .work-step { margin-bottom: 25px;
    padding-left: 15px; }
    .work-step:last-child { margin-bottom: 20px; }
    .work-step div {
        height: 40px;
        width: 40px;
        margin-right: 30px;
        padding: 4px;
        font-size: 120%;
    }
    /* .work-step p {
        margin: 0 0 0 0;
    } */

    .steps-box:first-child {
        text-align: center;    
    }

}

@media only screen and (max-width:480px) {
    section {
         padding: 25px 0;

    } 
    .contact-form { width: 100%; }

    header {
        height: 100%;
    }

    h1 {
        margin-top: 50px;
    }

    .logo {
        height: 80px;
        width: auto;
    }
} 